.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.switcher_contain{
    /* background-color: antiquewhite; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.view_switcher{
    color: white;
}

.home .home_content{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 9;
    overflow-y: auto;
}
.home .home_content .card_contain{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    /* background-color: #6a5acd; */
    gap: 20px;
    overflow-y: auto;
}
.lottie_contain{
    /* background-color: aqua; */
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.lottie_contain .lottie{
    width: 20% !important;
    opacity: 40%;
    z-index: 1;
}
@media only screen and (max-width: 700px) {
    .lottie_contain .lottie{
        width: 50% !important;
    }   
    .menus {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 9;
    }
    .menus .addLink_btn{
        padding: 10px 15px !important;
        border-radius: 20px !important;
        font-size: 18px !important;
    }
}