/* .home .home_content .card_contain .grid_card {
  cursor: pointer;
  height: 270px;
  width: 350px;
  overflow: hidden;
  display: grid;
  gap: 5px;
  grid-template-rows: 7fr 2fr 1fr;
  grid-template-columns: 1fr 7fr;
  grid-template-areas:
    "thumb thumb"
    "title title"
    "favicon link";
    color: white;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home_content .card_contain .grid_card .thumb_contain {
  grid-area: thumb;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.home .home_content .card_contain .grid_card .thumb_contain img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.home .home_content .card_contain .grid_card .favicon_contain {
  grid-area: favicon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home_content .card_contain .grid_card .favicon_contain img{
  height: 20px;
}
.home .home_content .card_contain .grid_card .title_contain {
  grid-area: title;
  display: flex;
  align-items: flex-start;
  padding: 0px 5px;
}
.home .home_content .card_contain .grid_card .link_contain {
  grid-area: link;
  display: flex;
  align-items: center;
  color: gray;
}

@media only screen and (max-width: 700px) {
  .home .home_content .card_contain .grid_card {
      height: 160px;
      width: 150px;
  }
  .home .home_content .card_contain .grid_card .favicon_contain img{
    height: 10px;
  }
} */
.grid_card {
  width: 300px;
  height: 300px;
  /* background-color: rgb(71, 40, 0); */
}
.grid_card .thumb_contain {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.grid_card .thumb {
  width: 100%;
}
.grid_card .info_wrapper {
  position: relative;
}
.home .home_content .card_contain .grid_card .favicon_contain {
  position: absolute;
  top: -17.5px;
  left: 10px;
  display: flex;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
}
.home .home_content .card_contain .grid_card .favicon_contain .favicon {
  height: 100%;
  width: 100%;
}
.grid_card .title_contain {
  padding-top: 15px;
}

@media only screen and (max-width: 700px) {
  .grid_card {
    width: 170px !important;
    height: 180px !important;
  }
  .grid_card .thumb_contain {
    max-height: 100px;
    border-radius: 5px;
  }
  .home .home_content .card_contain .grid_card .favicon_contain {
    position: absolute;
    top: -12.5px;
    width: 25px;
    height: 25px;
  }
  .grid_card .title_contain {
    padding-top: 12px;
  }
}
