/* backdrop  */
/* .link-modal .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
} */
.link-modal .popup {
  /* width: 50%; */
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 90vw;
  max-height: 85vh;
}
label,
textarea {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 28px;
  padding: 0px 5px;
  margin: 8px;
}
label {
  font-weight: bold;
}
textarea {
    margin-top: 20px;
  color: white;
  border: none;
  outline: none;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 27px,
    gray 28px
  );
  background-attachment: local;
  background-color: rgba(0, 0, 0, 0.101);
  height: 50vh;
  width: 40vw;
}
.link_form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.link_form .link_form_submit {
    margin-top: 20px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 35px;
  width: 100px;
  background-color: #6a5acd;
  color: white;
}
@media only screen and (max-width: 700px) {
  .link-modal .popup {
    /* width: 70%; */
    /* height: 50%; */
    display: flex;
    flex-direction: column;
  }
  textarea{
    height: 50vh;
    width: 65vw;
  } 
}