@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root{
  --primary: #1e2e3d;
  --secondary: #273444;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

h1{
  font-weight: 400;
  color: white;
  font-size: 25px;
}

h2{
  font-weight: 300;
  color: white;
  font-size: 18px;
}

p{
  font-weight: 300;
  color: gray;
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  h1{
    font-size: 20px;
  }
  
  h2{
    font-size: 12px;
  }
  
  p{
    font-size: 8px;
  } 
}